/* 공통적용 */

.btn-04 {
    border-color: #919191;
    color: #717171;
    background: #FAFAFA;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 16px 0;
}
.btn-04:hover {
    border-color: #919191;
    color: #717171;
    background: #ececec;
    border: 1px solid #fffdea;
    border-radius: 10px;
}

.user-btn {
    width: 100%;
    border-radius: 10px;
    padding: 17.5px 0;
    margin-bottom: 12px;
    color: #202020;
    background: #FDCC32;
    font-size: 17px;
}
.user-btn:hover {
    background: #FBC02D;
    color: #202020;
}

.input-01 {
    width: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    letter-spacing: -0.36px;
}
.input-01:focus {
    outline: 1px solid #FDCC32;
}

.input-01::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #CECECE;
}

.user-auth .mob-br {
    display: none;
}


/* 팝업 */
.show-pop {
    display: block;
}

.hide-pop {
    display: none;
}

.pop-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: #00000081;
    border: 1px solid #ddd;
}

.pop-inner {
    width: fit-content;
    padding: 28px 40px;
    background: #fefefe;
    border: 2px solid #eee;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pop-text {
    font-size: 20px;
    font-weight: 500;
}

.refresh-check-pop .pop-text {
    text-align: center;
}

.pop-text-caption {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #868686;
}

.popBtn-wrap {
    width: 100%;
    margin-top: 32px;
    display: flex;
    gap: 20px;
}

.popBtn-wrap .popBtn-item {
    flex: 1;
}
.popBtn-wrap .btn-01 {
    padding: 10px 20px !important;
    width: 100% !important;
}
.popBtn-wrap .btn-02 {
    width: 100%;
    min-width: none !important;
    max-width: none !important;
} 



/* 회원관련 공통적용 */
.user-auth .user-auth-wrap {
    width: 100%;
    max-width: 650px;
    margin: max(3vw, 100px) auto 100px;
    text-align: center;
    padding: 50px;
    background-color: #FAFAFA;
    border-radius: 20px;
}

.user-auth .main-title {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.36px;
    font-style: normal;
}

.user-auth .guide-title {
    font-size: 18px;
    margin: 20px 0;
    line-height: 160%;
    color: #868686;
    font-size: 16px;
}
.user-auth .tab-view {
    margin: 20px auto 40px;
    display: flex;
}

.user-auth .tab-view .tab-active,
.user-auth .tab-view .tab-disb {
    flex: 1;
    padding: 17px 0;
    font-size: 18px;
    border-bottom: 2px solid;
}

.user-auth .tab-view .tab-active {
    color: #FDCC32;
    border-color: #FDCC32;
}

.user-auth .tab-view .tab-disb {
    color: #CECECE;
    border: none;
}

.user-auth .input_wrap {
    margin-top: 30px;
}

.user-auth .input_container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-auth .label-flex {
    flex: 1;
}

.user-auth .btn-01 {
    width: 155px;
    padding: 15px 20px;
    border: 1px solid #FBC02D;
}

.user-auth .btn-04 {
    padding: 15px 20px;
    width: 155px;
}

.user-auth .password_container {
    display: block;
    position: relative;
}

.user-auth .eyeBtn {
    position: absolute;
    top: 55%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.user-auth .btn_wrap {
    margin-top: 40px;
}

/* login. html */

.user-auth .login-wrap .user-account {
    max-width: 580px;
    margin: 57px auto 0;
    gap: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user-auth .login-wrap .user-item {
    flex: 1;
    min-width: 80px;
    position: relative;
}

.user-auth .login-wrap .user-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 36px;
    background: #EEEEEE;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.user-auth .login-wrap .user-link {
    font-size: 16px;
    color: #868686;
    font-weight: 400;
    text-decoration: none;
}

.user-auth .login-wrap .user-link:hover {
    color: #FDCC32;
}


/* find-id-complete.html */

.user-auth .find-result-wrap .id-result {
    padding: 40px 20px;
    background: #fffbe7;
    border: 1px solid #fbd559;
    border-radius: 10px;
}
.user-auth .find-result-wrap .btn_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}
.user-auth .find-result-wrap .btn_wrap .btn-01{
    flex:1;
    max-width: none;
    padding: 16px 0;
}
.user-auth .find-result-wrap .btn_wrap .btn-02{
    flex:1;
    max-width: none;
    padding: 16px 0;
}
.user-auth .find-result-wrap .btn_wrap .btn-01:hover {
    background-color: #ffffff;
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
}
.user-auth .find-result-wrap .btn_wrap .btn-02:hover {
    background-color: #FBC02D;
    color: #ffffff;
}



/* register-form.html */

.user-auth .register .hidden-number{
    letter-spacing: 20px; 
    display: inline-block;
}

.user-auth .register .residentNum-input {
    gap: 23px;
    justify-content: start;
}

.user-auth .register .resident-label {
    flex: inherit;
}


.user-auth .register .before-residentNum {
    max-width: 300px;
}

.user-auth .register .after-residentNum {
    max-width: 40px;
    text-align: center;
}


/* register-complete.html */

.user-auth .register-complete .img_wrap {
    margin: 50px auto;
    width: 50%;
}

.user-auth .register-complete .btn_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}
.user-auth .register-complete .btn_wrap .btn-01{
    flex:1;
    max-width: none;
    padding: 16px 0;
}
.user-auth .register-complete .btn_wrap .btn-02{
    flex:1;
    max-width: none;
    padding: 16px 0;
}
.user-auth .register-complete .btn_wrap .btn-01:hover {
    background-color: #ffffff;
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
}
.user-auth .register-complete .btn_wrap .btn-02:hover {
    background-color: #FBC02D;
    color: #ffffff;
}



/* register-agree.html */

.user-auth .agree-wrap .all-check {
    padding: 20px 28px;
    color: #FBC02D;
}
.user-auth .agree-wrap .keep-wrap {
    overflow: hidden;
    background: #FFF7ED;
    border: 1px solid #FFBD3B;
    border-radius: 14px;
}
.user-auth .agree-wrap .terms-label {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.user-auth .agree-wrap .check-icon {
    margin-right: 10px;
    float: left;
    cursor: pointer;
}
.user-auth .agree-wrap .separate-check {
    padding: 20px 0;
}

.user-auth .agree-wrap .separate-item {
    padding: 18px 0;
}
.user-auth .agree-wrap .separate-agree {
    padding: 0 28px;
    margin-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.user-auth .agree-wrap .drop-icon {
    padding: 4px 6px;
    cursor: pointer;
    transform: rotate(-90deg);
    transition: all 0.1s linear;
}
.user-auth .agree-wrap .necessity {
    margin-left: 4px;
}
.user-auth .agree-wrap .terms-content {
    margin: 0 auto;
    width: 90%;
    padding: 0 28px;
    height: 242px;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid #e5e5e5;
    background-color: #fefefe;
    border-radius: 10px;
    line-height: 160%;
}
.user-auth .agree-wrap .keep_login {
    width: fit-content;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.36px;
    color: #999;
}
.user-auth .agree-wrap .check-input {
    display: none;
}
.user-auth .agree-wrap .checkBox {
    display: inline-block;
    vertical-align: -5px;
    margin-right: 9px;
    cursor: pointer;
}



/* myInfo.html */
.user-auth .info .profile {
    margin: 50px auto 70px;
    position: relative;
}
.user-auth .info .profile .my_img {
    width: 40%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #90909065;
}

.user-auth .info .edit-Btn {
    width: 20%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 10px;
    background: #fff;
    border-radius: 80px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    box-shadow: 0px 2px 5px #00000025;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 5px;
}
.user-auth .info .editBtn .camera {
    margin-left: 10px;
    flex:3;
}
.user-auth .info .editBtn .edit-text{
    flex:6;
}
.user-auth .info .editBtn .file-input {
    display: none;
}
.user-auth .info .input_container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-auth .info .category {
    flex: 0.5;
    max-width: 100px;
    min-width: 60px;
    margin-right: 5px;
    text-align: right;
}
.user-auth .info .btn-02 {
    flex: 0.5;
    max-width: none;
    min-width: none;
    padding: 15px 10px;
}

.user-auth .info .btn-01 {
    width: 100%;
}





@media (max-width: 767px) {
    /*회원관련 공통적용*/
    .user-auth .user-auth-wrap{
        padding: 40px 20px;
    }
    .user-auth .user-btn {
        padding: 15px 0;
    }
    .user-auth .main-title {
        font-size: 45px;
    }
    .user-auth .mob-br {
        display: block;
    }
    /*register-form.html*/
    .user-auth .register .residentNum-input {
        gap: 16px;
    }
    /*myInfo.html*/
    .user-auth .info .editBtn .camera {
        margin-left: 2px;
    }
    .user-auth .info .edit-Btn {
        border-radius: 20px;
        font-size: 15px;
    }
}






@media (max-width: 480px) {
    /* 회원관련 공통적용 */
    .user-auth .user-auth-wrap{
        padding: 50px 20px;
        margin: 50px auto;
    }
    .user-auth .user-btn {
        padding: 10px 0;
    }
    .user-auth .main-title {
        font-size: 35px;
    }
    .user-auth .guide-title {
        font-size: 15px;
        margin: 10px auto 20px;
    }
    .user-auth .guide-title .mob-br {
        display: block;
    }
    .user-auth .tab-view .tab-active,
    .user-auth .tab-view .tab-disb {
        font-size: 14px;
        padding: 16px 0;
    }
    .user-auth .btn_wrap {
        margin-top: 50px;
    }
    .user-auth .btn-01 {
        font-size: 13px;
        width: 100px;
        padding: 9px 13px !important;
    }
    .user-auth .btn-02 {
        font-size: 14px;
        padding: 9px 13px !important;
    }
    .user-auth .btn-04 {
        width: 100px;
        padding: 9px 13px !important;
        font-size: 14px;
    }
    .user-auth .input-01 {
        padding: 9px 13px;
        font-size: 15px;
    }
    .user-auth .input-01::placeholder {
        font-size: 14px; 
    }
    /*login.html*/
    .user-auth .login-wrap .user-link {
        font-size: 14px;
    }
    /*find-....html*/
    .user-auth .find-wrap .btn-01 {
        line-height: 1;
    }
    /*find-...-complete.html*/
    .user-auth .find-result-wrap .id-result {
        font-size: 14px;
    }
    /*register-agree.html*/
    .user-auth .agree-wrap .terms-label {
        font-size: 16px;
    }
    .user-auth .agree-wrap .terms-content {
        font-size: 14px;
    }
    .user-auth .agree-wrap .drop-icon {
        transform: scale(0.8);
    }
    /* register-from.html */
    .user-auth .register .hidden-number{
        letter-spacing: 2px; 
    }
    /* myInfo.html */
    .user-auth .info .category {
        font-size: 13px;
    }
    .user-auth .info .btn-01 {
        width: 100%;
    }
    .user-auth .info .mob-br {
        display: block;
    }
    .user-auth .info .pop-text {
        margin-top: 20px;
        font-size: 15px;
    }
    .user-auth .info .quitModal .pop-inner {
        width: 80%;
        padding: 10px 30px;
    }
    .user-auth .info .changeModal .pop-inner {
        width: 80%;
        padding: 10px 20px;
    }
    .user-auth .info .quitModal .mob-br {
        display: block;
    }
    .user-auth .info .quitModal .quit-text {
        font-size: 12px;
    }

    .user-auth .info .popBtn-wrap {
        margin-top: 20px;
        gap: 10px;
    }
    .user-auth .info .edit-Btn {
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 12px;
    }
    .user-auth .info .camera {
        width: 20%;
        vertical-align: -2px;
    }
}
